@import 'normalize.css';
@import url('./variables.css');

@font-face {
  font-family: 'Room';
  src:
    url('/fonts/room.woff2') format('woff2'),
    url('/fonts/room.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--BG-Beige);
  color: var(--Body-Text);
  font-family: 'Room', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
