.about {
  padding-top: 32px;
  padding-bottom: 32px;
}

.title {
  color: var(--Header-Color, #464d33);
  text-align: center;
  margin-bottom: 24px;
  font-family: Room;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 1.08px;
}

/* .image_wrapper {
  height: 386px;
  border-radius: 20px;
} */

.image {
  height: 100%;
}

.block_wrapper {
  list-style: none;
}

.block {
  width: 100%;
  height: 88px;
  border-radius: 20px;
  background: #f9e8c7;
}

@media (max-width: 743px) {
  .block:first-child {
    margin-bottom: 16px;
  }
}

.block_title {
  color: var(--Element-Btn-Default, #3f5637);
  text-align: center;

  font-family: Room;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  letter-spacing: 1.08px;
}

.block_text {
  color: var(--Body-Text, #191919);
  text-align: center;
  font-family: PermianSerifTypeface;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 266.667% */
  letter-spacing: 0.36px;
}

.about_wrapper {
  margin-top: 24px;
  margin-bottom: 24px;
}

.about_name {
  color: var(--Body-Text, #191919);
  font-family: Room;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.24px;
}

.about_text {
  margin-top: 24px;
  margin-bottom: 24px;
  height: 160px;
  overflow: hidden;
  color: var(--Body-Text, #191919);
  text-overflow: ellipsis;
  font-family: PermianSerifTypeface;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  letter-spacing: 0.48px;
}

.about_button {
  background-color: inherit;
  border: inherit;
  cursor: pointer;
  border-bottom: 1px solid var(--Body-Text, #191919);
  color: var(--Body-Text, #191919);

  /* Tablet/Body/Small Room */
  font-family: Room;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.48px;
}

@media (min-width: 744px) {
  .about {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .title {
    font-size: 40px;
    letter-spacing: 1.2px;
    margin-bottom: 48px;
  }

  .image {
    width: 338px;
    height: 440px;
  }

  .first_wrapper {
    display: flex;
  }

  .about_text {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 338px;
    height: 352px;
  }

  .about_wrapper {
    margin: 0;
  }

  .block_wrapper {
    display: flex;
    margin-top: 24px;
  }

  .block {
    width: 336px;
    height: 200px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .block:first-child {
    margin-right: 24px;
  }
}

@media (min-width: 744px) and (max-width: 1439px) {
  .first_wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .about {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .title {
    text-align: right;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1.44px;
  }

  .image {
    width: 486px;
    height: 660px;
  }

  .about_name {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.32px;
  }

  .about_text {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .about_wrapper {
    width: 586px;
    height: 192px;
    margin-top: 0;
    padding-left: 64px;
    padding-right: 64px;
    margin-left: 0;
  }

  .block {
    width: 100%;
    /* width: 282px; */
    height: 220px;
    gap: 24px;
  }

  .block:first-child {
    margin-bottom: 0;
    margin-right: 24px;
  }

  .block_title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    letter-spacing: 1.44px;
  }

  .image_wrapper {
    width: 486px;
    height: 660px;
  }

  .newTest {
    display: flex;
    /* flex-direction: column-reverse;
    justify-content: space-between; */
  }

  .second_wrapper {
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-left: 64px;
    padding-right: 64px; */
  }

  .about_button {
    display: none;
  }
}
