.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--BG-Footer-Green, #202c1c);
  color: var(--BG-Beige, #fffce3);

  /* Mobile/Body/Small */
  font-family: PermianSerifTypeface;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 266.667% */
  letter-spacing: 0.36px;
}

.icon_list {
  gap: 8px;
  display: flex;
  list-style: none;
}

.address_wrapper {
  display: flex;
  margin-bottom: 24px;
}

.address_list,
.hours_list {
  list-style: none;
  margin-left: 8px;
}

.contact_wrapper {
  margin-bottom: 24px;
}

.hours_container {
  display: flex;
}

.contact_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.second_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.contact_text {
  margin-left: 8px;
}

.contact_icon {
  box-sizing: content-box;
  padding: 5px 4px;
}

.contact_item {
  display: flex;
  align-items: center;
}

.copyright {
  text-align: center;
}

.logo {
  display: flex;
  margin-bottom: 24px;
  gap: 8px;
  justify-content: center;
  color: var(--BG-Beige, #fffce3);

  /* Desktop/Heading/H3 */
  font-family: Room;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.72px;
}

@media (min-width: 744px) {
  .footer {
    font-size: 16px;
    letter-spacing: 0.48px;
  }
  .address_wrapper,
  .contact_wrapper {
    margin-bottom: 0;
  }
  .contact_list {
    display: block;
  }

  .first_wrapper {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
  }

  .icon_list {
    gap: 16px;
  }

  .second_wrapper {
    margin-bottom: 24px;
  }
}

@media (min-width: 1440px) {
  .first_wrapper {
    display: block;
  }

  .address_wrapper {
    margin-bottom: 8px;
  }

  .main_wrapper {
    display: flex;
    justify-content: space-between;
  }

  .second_wrapper {
    margin-bottom: 0;
  }

  .icon_list {
    margin-left: 88px;
  }

  .logo {
    margin-bottom: 0px;
  }
}
