@import 'normalize.css';

@import 'variables.module.css';

@font-face {
  font-family: 'Room';
  src:
    url('/fonts/room.woff2') format('woff2'),
    url('/fonts/room.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--BG-Beige);
  color: var(--Body-Text);
  font-family: 'Room', sans-serif;
}
